@{
    ViewData["Title"] = "Inicio";
}

<div class="index-container fadeInUp">
    <h1>¡Bienvenido a PreguntadOrt!</h1>
    <p>El juego de preguntas y respuestas más divertido. Pon a prueba tus conocimientos en diferentes categorías y dificultades.</p>
    <a asp-controller="Home" asp-action="ConfigurarJuego" class="btn-inicio">¡Comenzar a Jugar!</a>
</div>
